.hidden {
  display: none;
}

.passwords {
  background-color: rgb(165, 191, 203);
  padding: 30px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }

  &__list {
    background-color: rgb(165, 191, 203);
    padding: 30px;
    padding-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
  }

  &__item {
    list-style: none;
    border: 2px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 5px;
  }

  &__title-list {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
}